html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial;
  font-weight: 200;
  color: rgb(250, 250, 250);
}

html, body {
  width: 100%;
  height: 100%;
}
section {
  min-height: 50vh;
  color: rgb(50, 50, 50);
  text-align: center;
  padding: 1em;
}
a {
  text-decoration: none;
  cursor: pointer;
}
h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: bold;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
}
.nav span {
  align-self: center;
}
ul {
  display: flex;
  width: 100%;
  height: 4em;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}
li {
  margin-left: 1.5em;
  margin-right: 1.5em;
  align-items: center;
  align-self: center;
  cursor: pointer;
}
#cover {
  height: 100vh;
  width: 100%;
  margin-top: -4em;
  padding: 4em;
  background-color: rgb(47, 50, 65);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}
button[name="appstore-btn"] {
  margin: 5px;
  height: 50px;
  width: 150px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('./appstore-btn.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.ticking-mockup {
  /*TODO*/
  width: 70%;
  height: 35vw;
  margin-left: auto;
  margin-right: auto;
  background-image: url('./mockup.png');
  background-size: cover;
  background-position: center;
}

video {
  width: 100%;
}

footer {
  background-color: rgb(47, 50, 65);
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1em;
  font-size: 0.8em;
}
footer li, footer span {
  color: rgb(180, 180, 180);
}
footer span {
  width: 50%;
  align-self: center;
}
