:root {
  --font-color-light: rgba(243, 243, 245, 1);
  --bg-color: rgba(60, 40, 98, 1);
  --bg-color-dark: rgba(40, 30, 68, 1);
  --bg-color-transp: rgba(60, 40, 98, 0.3);
  --transparent: rgba(0, 0, 0, 0);
  --green: rgba(50, 180, 174, 1);
  --green-darker: rgba(20, 135, 135, 1);
  --green-light: rgba(218, 240, 240, 1);
  counter-reset: feature;
}

html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
  font-weight: 300;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  background-color: var(--font-color-light);
}
section {
  text-align: center;
  padding: 2em;
  color: var(--bg-color-dark);
}
h1 {
  font-size: 3em;
  text-align: center;
  font-weight: 600;
  color: var(--font-color-light);
  letter-spacing: 2px;
  margin-bottom: 0em;
  margin-top: 0.3em;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
}
h1:after {
  content: '-';
  display: block;
}
h2 {
  color: var(--bg-color);
  text-align: center;
  font-weight: 500;
  font-size: 2em;
  position: relative;
  margin: 0;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  letter-spacing: 1px;
}
h3 {
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: 1em;
  text-transform: uppercase;
}
p, a {
  letter-spacing: 1px;
  line-height: 150%;
}
button {
  height: 4.5em;
  width: 13.5em;
  cursor: pointer;
  border: none;
  background-color: var(--transparent);
  background-image: url('./../appstore-btn.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 3em auto 2em auto;
  z-index: 99999;
}

/*home section*/
#home {
  min-height: calc(100vh - 60px);
  width: 100%;
  padding: 4em 4em;
  background-image: linear-gradient(to bottom, var(--bg-color-dark), var(--bg-color));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  position: relative;
}
#home h3 {
  color: var(--font-color-light);
  width: 50%;
  margin: 0.5em auto 0.5em auto;
}
.cover-text {
  margin-top: 1em;
  margin-bottom: 5em;
}

/*navigation*/
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
  background-color: var(--bg-color-dark);
  width: 100%;
  height: 60px;
}
ul {
  display: flex;
  width: 100%;
  height: 4em;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}
li {
  margin-left: 1.5em;
  margin-right: 1.5em;
  align-items: center;
  align-self: center;
  cursor: pointer;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--font-color-light);
  font-weight: 400;
  position: relative;
}
header ul a:hover:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 5px;
  background: var(--green-darker)
}
header ul a:hover:before {
  content: '';
  position: absolute;
  left: -7px;
  bottom: -2px;
  width: calc(100% + 14px);
  height: 1px;
  background: rgba(250, 250, 250, 0.5);
  z-index: 10;
}
.logo {
  align-self: center;
  font-weight: bold;
  width: 200px;
}
.logo img {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0px 0px 4px -1px rgba(15, 5, 15, 1);
}
.logo span {
  color: var(--green-darker);
  align-self: center;
  margin-left: 10px;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
}
.logo a {
  display: flex;
}

/*features*/
#features .cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  align-items: center;
}
.feature {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 30%;
  padding: 2em;
  color: var(--bg-color-dark);
  margin-bottom: 1em;;
}
.feat-desc {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*icon*/
.icon {
  width: 10vw;
  height: 10vw;
  box-shadow: 3px 3px 15px -3px var(--bg-color-transp);
  border-radius: 3px;
  padding: 3%;
  position: relative;
  margin-bottom: 2em;
  border-radius: 100%;
}
.icon svg {
  width: 80%;
  height: 100%;
  opacity: 0.9;
}
.icon:after {
  counter-increment: feature;
  content: '0' counter(feature);
  color: var(--green-light);
  font-size: 6em;
  position: absolute;
  font-weight: bold;
  left: -0.5em;
  top: -0.5em;
  background-color: var(--transparent);
  display: none;
}

/*iframe*/
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* contact */
#contact a {
  color: var(--bg-color-dark);
  font-weight: 500;
  text-decoration: underline;
}
#contact h2 {
  margin-bottom: 1em;
}
#contact button {
  width: 15em;
  height: 5em;
  margin: 3em 0 2em 0;
  background-image: url('./../appstore-btn-dark.svg');
}

/*footer*/
footer {
  background-color: var(--bg-color);
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1em;
  font-size: 0.8em;
}
footer ul {
  height: 100%;
}
footer li, footer span {
  color: var(--font-color-light);
  opacity: 1;
}
footer span {
  align-self: center;
}
footer .left {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

footer .image {
  background-image: url('https://decent.org/assets/created_by_decent_badge/created_by_badge_white.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 160px;
  max-width: 200px;
  background-position: center center;
}

/*equalizer anim*/
.equalizer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  height: 100%;
  align-items: flex-end;
  position: absolute;
  left: 10%;
  bottom: 0;
}
.eq-bar {
  width: 100%;
  margin: 0 2px 0 2px;
  background-color: var(--green-darker);
  opacity: 0.06;
}

/*media queries*/
@media (min-width: 320px) and (max-width: 576px) {
  .equalizer, .logo span, #features h2, #contact h2, footer span {
    display: none;
  }
  .nav {
    font-size: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
  }
  footer ul {
    justify-content: space-around;
  }
  h1 {
    font-size: 1.6em;
    width: 100%;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 1em;
  }
  #home h3 {
    padding: 0.5em;
    width: 100%;
  }
  #home {
    padding: 1em;
    justify-content: space-around;
  }
  button {
    width: 10.5em;
    height: 3.5em;
    margin-top: 0;
  }
  #features {
    padding: 1em;
  }
  #features .cont {
    flex-wrap: wrap;
  }
  .feature {
    padding: 1em;
    width: 100%;
  }
  .icon {
    width: 20vw;
    height: 20vw;
    margin: 1em auto 1.5em auto;
  }
  .icon svg {
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
  .feat-desc {
    width: 100%;
    text-align: center;
  }
  .cover-text {
    margin-top: 0em;
    margin-bottom: 1em;
  }
  footer .left {
    display: none;
  }
  footer ul .image {
    height: 50px;
    width: 90px;
    background-image: url('https://decent.org/assets/created_by_decent_badge/created_by_badge_white_small.png');
  }
  footer ul li a {
    font-size: 11px;
  }
  footer ul li {
    margin-left: 12px;
    margin-right: 12px;
  }
  footer ul li:first-child {
    margin-left: 0;
    margin-right: 0;
  }
  footer ul {
    padding: 3px;
    width: 100%;
  }
  footer {
    padding-left: 0;
  }
}

@media (min-width: 578px) and (max-width: 1023px) {
  .nav {
    padding-left: 5em;
    padding-right: 5em;
  }
  #home h3 {
    width: 80%;
  }
  #features h2{
    margin-bottom: 1em;
  }
  .feature {
    width: 50%;
    padding: 0.5em;
    margin-bottom: 2.5em;
  }
  .feat-desc {
    width: 90%;
  }
  button {
    width: 19.5em;
    height: 6.5em;
    margin-top: 0em;
  }
}
