:root {
  --font-color-light: rgba(243, 243, 245, 1);
  --font-color-dark: rgba(52, 52, 60, 1);
  --bg-color: rgba(60, 40, 98, 1);
  --bg-color-dark: rgba(40, 30, 68, 1);
  --bg-color-transp: rgba(60, 40, 98, 0.3);
  --transparent: rgba(0, 0, 0, 0);
  --green: rgba(50, 180, 174, 1);
  --green-darker: rgba(20, 135, 135, 1);
  --green-light: rgba(218, 240, 240, 1);
  counter-reset: feature;
}

html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
  font-weight: 300;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--font-color-light);
}

#home {
  min-height: calc(100vh - 60px);
  width: 100%;
  padding: 4em 4em;
  background-image: linear-gradient(to bottom, var(--bg-color-dark), var(--bg-color));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  position: relative;
}
button {
  margin: 2em;
  height: 3.5em;
  width: 10.5em;
  cursor: pointer;
  border: none;
  background-color: var(--transparent);
  background-image: url('./../appstore-btn.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  /*box-shadow: 0px 0px 20px -1px var(--bg-color-dark);*/
}
.cover-text {
  margin-top: 1em;
  margin-bottom: 5em;
}
h1 {
  font-size: 3em;
  text-align: center;
  font-weight: 600;
  color: var(--font-color-light);
  letter-spacing: 2px;
  margin-bottom: 0em;
  margin-top: 0.3em;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}
h1:after {
  content: '-';
  display: block;
}
h2 {
  color: var(--green-darker);
  text-align: center;
  font-weight: 600;
  font-size: 2.5em;
  position: relative;
  margin-bottom: 3em;
  margin-top: 1em;
  letter-spacing: 2px;
}
h3 {
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 2px;
  margin-bottom: 1em;
  text-transform: uppercase;
}
#home h3 {
  color: var(--font-color-light);
  width: 50%;
  margin: 0.5em auto 0.5em auto;
}
p, a {
  letter-spacing: 1px;
}
.nav {
  /*position: fixed;
  z-index: 10000;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
  background-color: var(--bg-color-dark);
  width: 100%;
  height: 60px;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--font-color-light);
  font-weight: 400;
  position: relative;
}
header ul a:hover:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 5px;
  background: var(--green-darker)
}
header ul a:hover:before {
  content: '';
  position: absolute;
  left: -7px;
  bottom: -2px;
  width: calc(100% + 14px);
  height: 1px;
  background: rgba(250, 250, 250, 0.5);
  z-index: 10;
}
.logo {
  align-self: center;
  font-weight: bold;
  width: 200px;
}
.logo img {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0px 0px 4px -1px rgba(15, 5, 15, 1);
}
.logo span {
  color: var(--green-darker);
  align-self: center;
  margin-left: 10px;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
}
.logo a {
  display: flex;
}

ul {
  display: flex;
  width: 100%;
  height: 4em;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}
li {
  margin-left: 1.5em;
  margin-right: 1.5em;
  align-items: center;
  align-self: center;
  cursor: pointer;
}

section {
  min-height: 100vh;
  text-align: center;
  padding: 2em;
  color: var(--font-color-dark);
}

#features {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  align-items: center;
}
.feature {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  width: 60%;
  padding: 2em;
  color: var(--font-color-dark);
  margin-bottom: 2em;;
}
.feature:nth-child(2n) {
  flex-direction: row-reverse;
}
.feat-desc {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon {
  width: 15vw;
  height: 15vw;
  box-shadow: 3px 3px 15px -3px var(--bg-color-transp);
  border-radius: 3px;
  padding: 3%;
  position: relative;
  border: 1px solid var(--bg-color-transp);
}
.icon svg {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.icon:after {
  counter-increment: feature;
  content: '0' counter(feature);
  color: var(--green-light);
  font-size: 6em;
  position: absolute;
  font-weight: bold;
  left: -0.5em;
  top: -0.5em;
  background-color: var(--transparent);
  display: none;
}

video {
  width: 100%;
}

#download {
  min-height: calc(100vh / 3);
}

footer {
  background-color: var(--bg-color);
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1em;
  font-size: 0.8em;
}
footer li, footer span {
  color: var(--font-color-light);
}
footer span {
  width: 50%;
  align-self: center;
}

.equalizer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  height: 100%;
  align-items: flex-end;
  position: absolute;
  left: 10%;
  bottom: 0;
}

.eq-bar {
  width: 100%;
  margin: 0 2px 0 2px;
  background-color: var(--green-darker);
  opacity: 0.06;
}

@media (min-width: 320px) and (max-width: 576px) {
  .equalizer, .logo, #features h2, footer span {
    display: none;
  }
  .nav {
    padding: 0;
    font-size: 0.8em;
  }
  ul {
    justify-content: space-around;
  }
  h1 {
    font-size: 1.6em;
    width: 100%;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 1em;
  }
  #home h3 {
    padding: 0.5em;
    width: 100%;
  }
  #home {
    padding: 1em;
    justify-content: space-around;
  }
  button {
    width: 10.5em;
    height: 3.5em;
  }
  #features {
    padding: 1em;
  }
  .feature {
    width: 100%;
    padding: 0 10px 0 10px;
    flex-direction: column-reverse !important;
  }
  .icon {
    width: 33vw;
    height: 33vw;
    margin: 1em auto 2em auto;
    /*border-radius: 0;*/
  }
  .icon svg {
    width: 80%;
    height: 80%;
    margin-top: 10%;
  }
  .feat-desc {
    width: 100%;
    text-align: center;
  }
  .cover-text {
    margin-top: 0em;
    margin-bottom: 1em;
  }
}

@media (min-width: 578px) and (max-width: 1024px) {
  .nav {
    padding-left: 5em;
    padding-right: 5em;
  }
  #home h3 {
    width: 80%;
  }
  .feature {
    width: 85%;
    margin-bottom: 3em;
  }
  .feat-desc {
    width: 50%;
  }
}
