.iphone-mockup, .iphone-mockup * {
  box-sizing: content-box;
}

:root {
  --multi: 1;
  --iphone-height: 11.7vw;
  --iphone-width: 20.7vw;
  --border-radius: 1.4018vw;
  --border-2: 3.712vw;
  --border-1: 0.9vw;
  --before-height: 3.125vw;
  --before-width: 0.3125vw;
  --before-left: -1.875vw;
  --before-top: 4.3125vw;
  --after-width: 1.875vw;
  --after-height: 1.875vw;
  --after-right: -3vw;
  --after-bottom: 4.6875vw;
  --after-border : 0.25vw;

  --iphone-screen-color: #5C5C5C;
  --iphone-body-color: #ECF0F1;
  --iphone-home-button-color: #D5D5D5;
  --iphone-earphone-color: #5C5C5C;
  --green: rgba(60, 180, 184, 1);
  --bg-color-dark: rgba(40, 30, 68, 1);
}

@keyframes coverBackground {
	0% {
		background-image: url('./../screens/ss_1.png');
	}
	33% {
		background-image: url('./../screens/ss_2.png');
	}
	66% {
		background-image: url('./../screens/ss_3.png');
	}
}

.iphone-mockup {
  display: inline-block;
  width: calc(var(--iphone-width) * var(--multi));
  height: calc(var(--iphone-height) * var(--multi));
  position: relative;
  border-radius: calc(var(--border-radius) * var(--multi));
  border: 1px solid var(--iphone-body-color);
  border-width: calc(var(--border-1) * var(--multi)) calc(var(--border-2) * var(--multi));
  background: var(--iphone-screen-color);
}

.iphone-mockup:before {
  content: "";
  width: calc(var(--before-width) * var(--multi));
  height: calc(var(--before-height) * var(--multi));
  position: absolute;
  top: calc(var(--before-top) * var(--multi));
  left: calc(var(--before-left) * var(--multi));
  margin: 0 auto;
  border-radius: calc((var(--before-height) * var(--multi)) / 2);
  background: var(--iphone-earphone-color);
}

.iphone-mockup:after {
  content: "";
  width: calc(var(--after-width) * var(--multi));
  height: calc(var(--after-height) * var(--multi));
  position: absolute;
  bottom: calc(var(--after-bottom) * var(--multi));
  right: calc(var(--after-right) * var(--multi));
  border: calc(var(--after-border) * var(--multi)) solid var(--iphone-home-button-color);
  border-radius: 50%;
}

.iphone-mockup.cover {
  --multi: 1.8;
  margin: 1em auto 2em auto;
  background-color: gray;
  animation: coverBackground 5s infinite;
  animation-timing-function: steps(1,end);
  animation-direction: alternate;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 0px 5px var(--green), 0px 0px 40px -3px var(--bg-color-dark);
}

@media (min-width: 320px) and (max-width: 1024px) {
  .iphone-mockup.cover {
    --multi: 2.9;
    margin-bottom: 5em;
  }
}

@media (min-height: 480px) and (max-height: 620px) and (max-width: 380px){
  .iphone-mockup.cover {
    --multi: 3;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }
  h1 {
    margin-top: 0;
  }
}
@media (min-height: 621px) and (max-height: 812px) and (min-width: 415px) {
  .iphone-mockup.cover {
    --multi: 1.4;
    margin: 0 auto 1em auto;
  }
  .cover-text {
    margin-top: 0.5em;
    margin-bottom: 3.5em;
  }
  h1 {
    font-size: 2em;
  }
  h3 {
    font-size: 1em;
  }
  #home {
    padding: 1.5em 3em;
  }
}
