html, body, * {
  box-sizing: border-box;
  padding: 2px;
}

body {
  font-family: montserrat, sans-serif;
  color: rgba(52, 52, 60, 1);
  padding: 2em 3em;
  line-height: 120%;
}

h2 {
  padding-bottom: 1em;
}
li {
  list-style: square;
  margin-left: 2.5em;
}
a, a:visited {
  color: rgba(60, 40, 98, 1);
}
